# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
logs/*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# MacOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components/

# TernJS port file
.tern-port

# Optional stylelint cache
.stylelintcache